.task-item {
  border-style: groove;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 1rem;
  border-color: #5c5f66;
}

.save-button {
  margin-top: 0.75rem;
}

.button-group {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.invalid-alert {
  margin-top: 1.5rem;
}
