.main-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  justify-items: center;
}

.todo-item {
  margin-top: 1rem;
}

.divider {
  margin-bottom: 1rem;
}

.no-workout {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}
